<!--404 Page-->
<div fxLayout="column">
    <mat-card fxFlex style="margin-top: 15%; width: 50%; margin-left: 25%;" class="mat-elevation-z8">
      <img src="../../../assets/404.png" class="notFound">
      <br><br><br><br><br><br>
      <mat-card-subtitle style="text-align: center;" class="mat-headline">Page Not Found</mat-card-subtitle>
      <mat-card-content style="text-align: center;">
        <button mat-raised-button color="primary" routerLink="/">Return to Dashboard</button>
      </mat-card-content>
    </mat-card>
</div>
  