<!--About page-->
<div fxLayout="column" class="main-welcome" fxLayoutGap="10px">
    <h1 fxFlex class="title">
      nodebucket 101 <br/>
      <span class="subtitle">
      </span>
      <br><br><br>
    </h1>
    <div class="about-content">
      <mat-divider></mat-divider>
      <br />
      <p class="mat-body-4">
        <span class="p-title mat-headline">Overview</span><br />
        nodebucket, is task management software designed to simplify the way you create, track, edit, and delete time sensitive material.
        This is a full-stack MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that were taught in previous courses.
        MongoDB will be used for data persistence.
        Node.js will be used for manipulating and returning saved records, SoapUI for unit testing, and Angular for user interactions.
      </p>
      <br />
      <p class="mat-body-4">
        <span class="p-title mat-headline">Schedule</span><br />
        The development of this application will encompass 3 Sprints and 5 days.
        The first 3 days will be for requirements gathering, project planning, and designing.
        The last 2 days will be for deployment and group presentations
      </p>
    </div>
</div>
  
  